*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .logo img{
    width:100rem;
} */



.nav {
    position: relative;
    width: 100vw;
    height: 160px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.829);
    z-index: 10000;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo img{
    height: 5rem;
    filter: drop-shadow(1px 1px 20px rgba(247, 247, 247, 0.767));
}

.nav-menu {
    display: flex;
    /* margin-right: 40px; */
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    text-transform: uppercase;
}

.nav-menu-link {
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
    transition: 0.5s;
}


  /* TOGGLE */
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}


nav li a:hover{
    color: red;
  /* text-shadow: 2px 2px 5px rgb(255, 255, 255); */
    filter: drop-shadow(1px 1px 20px rgba(255, 255, 255, 0.767));
}



@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  
  .cartas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    gap: 2rem;

  }

  body{
    background-image: linear-gradient(
      var(--rotate),
      #5ddcff,
      #3c67e3 43%,
      #4e00c2
    );

    animation: spin 4s linear infinite;
  }

  .main {
    overflow: hidden;
    width: 100vw;
    background-image: linear-gradient(
      var(--rotate),
      #5ddcff,
      #3c67e3 43%,
      #4e00c2
    );
    animation: spin 2.5s linear infinite;
    height: 100%;
  }
  
  .card {
    background: #191c29;
    width: 350px;
    height: 400px;
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
    
  }
  
  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card:hover:before,
  .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate),
      #5ddcff,
      #3c67e3 43%,
      #4e00c2
    );
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate),
      #5ddcff,
      #3c67e3 43%,
      #4e00c2
    );
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  a {
    color: #212534;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
  }

/* MOBILE */
@media (max-width: 768px) {
    .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #000000;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
    }

    .nav-menu-item {
        line-height: 70px;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: #83c5f7;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }
    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
}
/* FIN MOBILE */


