*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
  position: relative;
  height: 150px;
  width: 100%;
}

nav {
  position: fixed;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #000000;
  z-index: 99999;
}
nav ul {
  background: #000000;
  list-style: none;
  margin: 0;
  padding: 1rem 0;
}
nav ul li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
  text-align: center;
}
nav ul li:first-child a {
  background: #000000;
  width: 49px;
  padding: 15px 0;
}
nav ul li:last-child {
  margin: 0;
}
nav ul li a {
  display: block;
  background: #000000;
  padding: 15px 20px;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  transition: 0.2s linear;
}
nav ul li a:hover {
  background: #37bc9b;
}
nav ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 240px;
  border-bottom: 4px solid #48cfad;
}
nav ul li ul li {
  display: block;
  width: 100%;
  margin: 0;
  text-align: left;
}
nav ul li ul li a {
  display: block;
  background: #000000;
  padding: 10px 15px;
}
nav ul li ul li a:first-child {
  background: #000000;
  width: auto;
  border-left: 4px solid transparent;
  padding: 10px 15px;
  font-size: 14px;
}
nav ul li ul li a:hover {
  background: #000000;
  border-left: 4px solid #48cfad;
}

body {
  background: rgb(1, 1, 1);
}

.contenedorTop5{
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.textTop5 p{
  font-size: 4rem;
  color: white;
  width: 100%;
  align-items: center;
}

/*CARTAS*/

.ContainerCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  gap: 4rem;
}

.card img{
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.card p{
  font-size: 1.5rem;
  color: white;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}


.card {
  background: #191c29;
  width: 300px;
  height: 400px;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* display: flex; */
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: 5%;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}


/*FIN CARTAS*/

/* MOBILE */
@media (max-width: 768px) {
    .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #000000;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
    }

    .nav-menu-item {
        line-height: 70px;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: #83c5f7;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }
    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
}
/* FIN MOBILE */


